<!doctype html>
<html>
  <head>
    <title>Piano</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
  </head>
  <body>
    <div class="piano">
      <button class="white-key C4-key">Q</button>
      <button class="black-key Db4-key">2</button>
      <button class="white-key D4-key">W</button>
      <button class="black-key Eb4-key">3</button>
      <button class="white-key E4-key">E</button>
      <button class="white-key F4-key">R</button>
      <button class="black-key Gb4-key">5</button>
      <button class="white-key G4-key">T</button>
      <button class="black-key Ab4-key">6</button>
      <button class="white-key A4-key">Y</button>
      <button class="black-key Bb4-key">7</button>
      <button class="white-key B4-key">U</button>
      <button class="white-key C5-key">I</button>
      <button class="black-key Db5-key">9</button>
      <button class="white-key D5-key">O</button>
      <button class="black-key Eb5-key">0</button>
      <button class="white-key E5-key">P</button>
    </div>

    <script src="script.js"></script>
  </body>
</html>